{% if site.data.site.lang == null or site.data.site.lang == "" %}
{% assign lang = site.data.lang.en-US %}
{% else %}
{% assign lang = site.data.lang[site.data.site.lang] %}
{% endif %}
<hr/>
<div class="mdui-card-content">
<blockquote>
<p>{{lang.creativecommon.one}}<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">{{lang.creativecommon.two}}</a>{{lang.creativecommon.three}}</p>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="{{lang.creativecommon.imgalt}}" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a>
</blockquote>
</div>
