<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css"> 
<style>
    #git_thread{
        padding: 16px;
        display: block;
    }
</style>

<div class="mdui-divider"></div>
<!-- button id="load-git" class="mdui-btn mdui-btn-block mdui-center" onclick="git.load();">加载Gitalk评论</button -->
<div id="git_thread"></div>
<!--script type="text/javascript">
var git = {
    load : 
    function git(){
        $('#git_thread').css('display','block');
        $('#load-git').remove(); 
    }
};
</script -->
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
<script type="text/javascript">
setTimeout(function () {
      var gitalk = new Gitalk({
        clientID: "800a929ad18c8e90fdbc",
        clientSecret: "3dcb1cc3680b9b85ad4291367b4aafefd6806e58",
        repo: "SunTalk_Save",
        owner: "SunbossRS",
        admin: ["SunbossRS"],
        id: location.pathname,      // Ensure content need to less or equal 50 charters. Can use {{ page.title }}
        distractionFreeMode: true  // Facebook-like distraction free mode
      });

      gitalk.render('git_thread')
}, 1000)
</script>
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 

    <!--noscript>请确保给予Gitalk运行Javascript的权力。</noscript-->
