<div class="mdui-divider"></div>
<div style="padding:0px 16px;" id="gitalk"></div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css"> 
<script src="https://github.com/gitalk/gitalk/raw/master/dist/gitalk-component.js"></script> 
<script src="https://github.com/gitalk/gitalk/raw/master/dist/gitalk.min.js"></script> 

<script type="text/javascript">
      var gitalk = new Gitalk({
        clientID: "800a929ad18c8e90fdbc",
        clientSecret: "3dcb1cc3680b9b85ad4291367b4aafefd6806e58",
        repo: "SunTalk_Save",
        owner: "SunbossRS",
        admin: ["SunbossRS"],
        id: location.pathname,      // Ensure content need to less or equal 50 charters. Can use {{ page.title }}
        distractionFreeMode: true  // Facebook-like distraction free mode
      });

      gitalk.render('gitalk');
</script>
