<style>
.k-head-card-media{
display: block
cursor: pointer;
max-height: 5000px;
min-height: 180px;
background-position: 50% 50%;
background-size: cover;
background-color: white;
}
.k-head-card-media a{
text-decoration: none;
}
.k-head-card-content .mdui-card-header-title{
line-height: 40px;
margin-left: 0;
}
.k-head-card-content .mdui-card-header-avatar{
margin-right: 12px;
}
.mdui-card-media img.k-head-card-img{
width: 64px;
margin: 0 auto;
}
</style>

<div class="k-posts-list"></div>
<div class="mdui-container">
  <div class="head_card-offset"></div>
  <div class="mdui-row mdui-col-sm">
    <div class="mdui-card k-list-card mdui-shadow-1 mdui-card-media k-head-card-media" style="background-image:url('https://coding.net/u/SunbossRS/p/GotBlogDowner/git/raw/master/lovely-photo/sunup.jpg')">
      <div class="mdui-card-media-covered mdui-card-media-covered-gradient mdui-card-primary">{{site.title}}</div>
    </div>
  </div>
</div>
