---
layout: default
---
<style>
.k-head-card-media{
display: block
cursor: pointer;
max-height: 284px;
min-height: 284px;
background-position: 50% 50%;
background-size: cover;
background-color: white;
}
.k-head-card-media a{
text-decoration: none;
}
.k-head-card-content .mdui-card-header-title{
line-height: 40px;
margin-left: 0;
}
.k-head-card-content .mdui-card-header-avatar{
margin-right: 12px;
}
.mdui-card-media img.k-head-card-img{
width: 64px;
margin: 0 auto;
}
</style>

<div class="k-posts-list"></div>
<div class="k-container">
<div class="head_card-offset"></div>
 <div class="mdui-row"> <div class="mdui-col-sm">
   <div class="mdui-card k-list-card mdui-shadow-1 ">
     <div class="mdui-card-media k-head-card-media" style="background-image:url('https://ooo.0o0.ooo/2017/06/19/5947b272d418b.jpg')">
     <div class="mdui-card-media-covered mdui-card-media-covered-gradient">
     <div class="mdui-card-primary">
     </div>
     </div>
     </div>
   </div>
   <div class="mdui-divider"></div>
   <div class="mdui-card-header k-head-card-content"> <div class="mdui-card-header-title">耀日庄主的友情链接</div> </div>
   </div>
    <div class="k-posts-list"></div>
    {% if site.data.site.uiux.meng == true %}
    {% if site.data.meng.head_card.switch == true %}
            {% assign num = site.data.meng.head_card.offset_level %}
            {% for i in (1..num) %}
                <div class="head_card-offset"></div>
            {% endfor %}
        {% if paginator.page == 1 %}
            {% include meng/head_card.html %}
        {% endif %}
    {% endif %}
    {% endif %}

    {% include content/paginator_post_list.html %}
    {% include content/paginator_button.html %}
</div>
